@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --Primary-blue: #3685FF;
}

/* || RESET || */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
}

body {
    background-color: var(--Light-gray);
    font-family: "Outfit", sans-serif;
}

img {
    display: block;
}

/* || MAIN STYLES || */

.container {
    width: 1140px;
    padding-inline: 1rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: #fff;
    width: 325px;
    height: 500px;

    border-radius: 20px;
    margin-inline: auto;
    margin-top: 120px;
    padding: 18px;
    box-shadow: 0px 25px 25px 0 rgba(0, 0, 0, 0.047);
}

.qr-code {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.qr-container {
    width: 290px;
    height: 290px;
    border-radius: 10px;
    overflow: hidden;
}

.card-content {
    text-align: center;
}

.card-title {
    font-size: 22px;
    line-height: 1.25;
    color: var(--Dark-blue);
    font-weight: 700;
}

.card-text {
    font-weight: 400;
    color: var(--Grayish-blue);
    font-size: 15px;
    width: 85%;
    margin-inline: auto;
    margin-top: 20px;
}

.attribution p, .attribution a{
    color: var(--Grayish-blue);
    font-size: 14px;
}

.attribution a:hover {
    color: var(--Primary-blue);
}

@media (max-width: 47em) {
    .container {
        width: 375px;
    }
}